@import url('https://fonts.googleapis.com/css?family=Paytone+One|Source+Sans+Pro&display=swap');



div.skillcard {
  padding: 0.5rem 1rem 3rem 2rem;
  margin: 1rem auto;
  height: 20rem;
  box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  margin: 1.5rem 2rem 1rem 0rem;
  border-radius: 20px;
}

.skillcard h2, p {
   
color: #fff;

}

.skillcard h3 {
  
color: #1d2aaf;

}

p {
margin: 1.5rem 2rem 1rem 0rem;
font-size: 1.2rem;
color: #fff;
}

div.profileimage {
width: 25rem;
margin: 1rem;
}
